In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('All.csv')

In [3]:
data.describe()

          Unnamed: 0         rating    usefulCount
count  215063.000000  215063.000000  215063.000000
mean   107531.000000       6.990008      28.001004
std     62083.484809       3.275554      36.346069
min         0.000000       1.000000       0.000000
25%     53765.500000       5.000000       6.000000
50%    107531.000000       8.000000      16.000000
75%    161296.500000      10.000000      36.000000
max    215062.000000      10.000000    1291.000000

In [4]:
data.columns.values.tolist()

['Unnamed: 0',
 'drugName',
 'condition',
 'review',
 'rating',
 'date',
 'usefulCount',
 'sentiment-TextBlob',
 'sentiment-Nltk-Vader',
 'sentiment-Hand']

In [5]:
data["sentiment-Hand"].value_counts()

positive    142306
negative     64295
neutral       8462
Name: sentiment-Hand, dtype: int64